#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

Config(
    definition: EndpointSchemaList(
        "authEndpoints",
        20,
        [
            EndpointSchema(
                name: "ApiKeyConnect",
                code: 200,
                parameters: [
                    Field(
                        name: "appApiKey",
                        ty: String,
                    ),
                ],
                returns: [],
                stream_response: None,
                description: "",
                json_schema: (),
                roles: [
                    "UserRole::Public",
                ],
            ),
            EndpointSchema(
                name: "AuthorizedConnect",
                code: 201,
                parameters: [
                    Field(
                        name: "accessToken",
                        ty: String,
                    ),
                ],
                returns: [],
                stream_response: None,
                description: "",
                json_schema: (),
                roles: [
                    "UserRole::Public",
                ],
            ),
        ]
    )
)
