#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

Config(
    definition: EndpointSchemaList(
        service_name: "authEndpoints",
        service_id: 20,
        endpoints: [
            EndpointSchemaElement(
                frontend_facing: false,
                schema: (
                    name: "ApiKeyConnect",
                    code: 200,
                    parameters: [
                        Field(
                            name: "appApiKey",
                            ty: String,
                        ),
                    ],
                    returns: [],
                    stream_response: None,
                    description: "",
                    json_schema: (),
                    roles: [
                        "UserRole::Public",
                    ],
                )
                
            ),
            EndpointSchemaElement(
                frontend_facing: true,
                schema: (
                    name: "AuthorizedConnect",
                    code: 201,
                    parameters: [
                        Field(
                            name: "accessToken",
                            ty: String,
                        ),
                    ],
                    returns: [],
                    stream_response: None,
                    description: "",
                    json_schema: (),
                    roles: [
                        "UserRole::Public",
                    ],
                )
                
            ),
        ]
    )
)
