#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

Config(
    definition: EndpointSchemaList(
        service_name: "beCallbackApi",
        service_id: 21,
        endpoints: [
            EndpointSchemaElement(
                frontend_facing: false,
                schema: (
                    name: "ReceiveToken",
                    code: 210,
                    parameters: [
                        Field(name: "token", ty: String),
                        Field(name: "username", ty: String),
                        Field(name: "userPubId", ty: UUID),
                    ],
                    returns: [],
                    stream_response: None,
                    description: "Backend receives auth tokens, happens after login",
                    json_schema: (),
                    roles: [
                        "UserRole::AppApiKey",
                    ],
                )
                
            ),
            EndpointSchemaElement(
                frontend_facing: false,
                schema: (
                    name: "ReceiveUserInfo",
                    code: 211,
                    parameters: [
                        Field(name: "userPubId", ty: UUID),
                        Field(name: "username", ty: String),
                        Field(name: "appPubId", ty: Optional(UUID)),
                        Field(name: "token", ty: Optional(String)),

                    ],
                    returns: [],
                    stream_response: None,
                    description: "Backend receives user info with optional token, happens after new user signs up. Platform app also receives this so that it can maintain records of app users, in which case Token will be set to None",
                    json_schema: (),
                    roles: [
                        "UserRole::AppApiKey",
                    ],
                )
                
            ),
        ]
    )
)
