#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

Config(
    definition: EndpointSchemaList(
        "authEndpoints",
        10,
        [
            EndpointSchema(
                name: "ApiKeyConnect",
                code: 100,
                parameters: [
                    Field(
                        name: "appApiKey",
                        ty: String,
                    ),
                ],
                returns: [],
                stream_response: None,
                description: "",
                json_schema: (),
                roles: [
                    "UserRole::Public",
                ],
            ),
            EndpointSchema(
                name: "AccessTokenConnect",
                code: 101,
                parameters: [
                    Field(
                        name: "accessToken",
                        ty: UUID,
                    ),
                ],
                returns: [],
                stream_response: None,
                description: "",
                json_schema: (),
                roles: [
                    "UserRole::Public",
                ],
            ),
            EndpointSchema(
                name: "GetAppPublicId",
                code: 102,
                parameters: [],
                returns: [
                    Field(
                        name: "appPublicId",
                        ty: UUID,
                        description: "The public ID of the app initiating this API Key connection. Retrieved from Honey App UI."
                    ),
                ],
                stream_response: None,
                description: "Returns `appPublicId` which will be used for auth flows",
                json_schema: (),
                roles: [
                    "UserRole::Public",
                ],
            ),
        ]
    )
)
