#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

Config(
    definition: EndpointSchemaList(
        "tokenApi",
        11,
        [
            EndpointSchema(
                name: "ReceiveToken",
                code: 110,
                parameters: [
                    Field(name: "token", ty: String),
                    Field(name: "username", ty: String),
                    Field(name: "userPubId", ty: UUID),
                ],
                returns: [],
                stream_response: None,
                description: "Backend receives auth tokens, happens after login or signup",
                json_schema: (),
                roles: [
                    "UserRole::AppApiKey",
                ],
            ),
            EndpointSchema(
                name: "ReceiveUserInfo",
                code: 111,
                parameters: [
                    Field(name: "userPubId", ty: UUID),
                    Field(name: "username", ty: String),
                    Field(name: "token", ty: String),

                ],
                returns: [],
                stream_response: None,
                description: "Backend receives user info with token, happens after new user signs up.",
                json_schema: (),
                roles: [
                    "UserRole::AppApiKey",
                ],
            ),
        ]
    )
)
