/target
/generated

# We will not be tracking any AI tool related metadata, as these will not be formalized or used in pathscale projects
/.claude/settings.local.json
/.gemini
/.qwen
/.opencode
/.serena
/.kiro
.vscode/settings.json
.idea/
