#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

Config(
    definition: EndpointSchemaList(
        "honeyAuthAppApi",
        11,
        [
            EndpointSchema(
                name: "TokenIntrospect",
                code: 110,
                parameters: [
                    Field(name: "token", ty: String),
                    Field(name: "tokenTypeHint", ty: Optional(String), description: "access_token or refresh_token"),
                    Field(name: "appPublicId", ty: UUID),
                    Field(name: "appApiKey", ty: String),
                ],
                returns: [
                    Field(name: "active", ty: Boolean),
                    Field(name: "scope", ty: Optional(String)),
                    Field(name: "appPublicId", ty: Optional(UUID)),
                    Field(name: "username", ty: Optional(String)),
                    Field(name: "userPublicId", ty: Optional(BigInt)),
                    Field(name: "exp", ty: Optional(BigInt)),
                    Field(name: "iat", ty: Optional(BigInt)),
                ],
                stream_response: None,
                description: "Backend validates HoneyAuth tokens (requires app API key).",
                json_schema: (),
                roles: [
                    "UserRole::AppApiKey",
                ],
            ),
            EndpointSchema(
                name: "SubscribeTokenRevocations",
                code: 111,
                parameters: [
                    Field(name: "appPublicId", ty: UUID),
                    Field(name: "appApiKey", ty: String),
                ],
                returns: [
                    Field(name: "subscriptionId", ty: String),
                ],
                stream_response: None,
                description: "Backend subscribes to user token revocation events. TODO. This is not implemented",
                json_schema: (),
                roles: [
                    "UserRole::AppApiKey",
                ],
            ),
        ]
    )
)
