#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

Config(
    definition: EndpointSchemaList(
        "publicApiConnection",
        0,
        [
            EndpointSchema(
                name: "PublicConnect",
                code: 0,
                parameters: [],
                returns: [],
                stream_response: None,
                description: "Initiates a websocket connection session with that permits access to endpoints with the UserRole::Public role",
                json_schema: (),
                roles: [
                    "UserRole::Public",
                ],
            ),
        ]
    )
)
