#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

Config(
    definition: EndpointSchemaList(
        "publicWaitlistApi",
        2,
        [
            EndpointSchema(
                name: "AddWaitlistLead",
                code: 20,
                parameters: [
                    Field(name: "name", ty: String),
                    Field(name: "telegram", ty: Optional(String)),
                    Field(name: "whatsApp", ty: Optional(String)),
                    Field(name: "description", ty: String),
                ],
                returns: [],
                stream_response: None,
                description: "Adds a lead to the waitlist.",
                json_schema: (),
                roles: [
                    "UserRole::Public",
                ],
            ),
        ]
    )
)
