#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

Config(
    definition: EndpointSchemaList(
        service_name: "platformApiKeyConnection",
        service_id: 10,
        endpoints: [
            EndpointSchemaElement(
                frontend_facing: false,
                schema: (
                    name: "PlatformConnect",
                    code: 100,
                    parameters: [
                        Field(
                            name: "platformApiKey",
                            ty: String,
                        ),
                    ],
                    returns: [],
                    stream_response: None,
                    description: "Handles platform API Key login to initiate the connection session between Honey API Backend and this server",
                    json_schema: (),
                    roles: [
                        "UserRole::Public",
                    ],
                )
                
            ),
        ]
    )
)
