name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    # runs-on: buildjet-8vcpu-ubuntu-2204-arm
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - uses: Swatinem/rust-cache@v2
      with:
        # cache-provider: buildjet
        cache-on-failure: "true"
        add-job-id-key: "false"

    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        profile: minimal
        override: true

    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose

  clippy_check:
    # runs-on: buildjet-8vcpu-ubuntu-2204-arm
    runs-on: ubuntu-latest

    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - uses: Swatinem/rust-cache@v2
        with:
          # cache-provider: buildjet
          cache-on-failure: "true"
          add-job-id-key: "false"
          save-if: "false"

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          components: clippy
          override: true

      - name: Run Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

  format_check:
    # runs-on: buildjet-8vcpu-ubuntu-2204-arm
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - uses: Swatinem/rust-cache@v2
        with:
          # cache-provider: buildjet
          cache-on-failure: "true"
          add-job-id-key: "false"
          save-if: "false"

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          components: rustfmt
          override: true

      - name: Check formatting
        run: cargo fmt --all -- --check
